<div class="container">
  <div class="row">
    <div class="product-description col col-sm-12 mt-4">
      <h1 class="title mb-2 text-uppercase">{{ product.companyTitle }}</h1>
      <h2 class="subtitle mb-3">{{ product.productTitle }}</h2>
      <p class="content-text text-start mb-2">
        {{ product.description }}
      </p>
      <div class="price-container">
        <div class="new-price d-flex align-items-center fw-bolder">
          <span class="pe-2 price">{{
            product.newPrice | number : "1.2-2" | currency
          }}</span>
          <span class="rounded percent">{{ product.percentDecrease }}%</span>
        </div>
        <div class="old-price fw-bolder text-decoration-line-through">
          {{ product.oldPrice | number : "1.2-2" | currency }}
        </div>
      </div>

      <div class="button-container d-flex mt-4">
        <div
          class="btn-group pe-2 col-sm-12"
          role="group"
          aria-label="Basic example"
        >
          <button type="button" class="btn fw-bold minus" (click)="decrement()">
            -
          </button>
          <button type="text" class="btn fw-bold" style="cursor: auto">
            {{ counter() }}
          </button>
          <button type="button" class="btn fw-bold plus" (click)="increment()">
            +
          </button>
        </div>

        <button
          class="btn-add btn fw-semibold col-sm-12"
          type="button"
          (click)="addToCart(product)"
          [disabled]="counter() === 0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            fill="currentColor"
            class="bi bi-cart3 pe-1"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
            />
          </svg>
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>
